<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="/../public/css/index.css">
        <link rel="stylesheet" href="/../public/css/assignment.css">


        <title>10dem Education|Assignment</title>
        
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand" href="#">10dem Education</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-primary" id="login" href="#">S</a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: -20px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div style="background: #ffffff;height: 100px;width: 100%;justify-content: center;padding: 20px;">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <div class="grpmembers">+2</div>
                    <div class="grpmembers" style="position: absolute;z-index: 2;right: 3.5rem;">R</div>
                    <div class="grpmembers" style="position: absolute;z-index: 3;right: 6.5rem;">A</div>
                    <div class="grpmembers" style="position: absolute;z-index: 4;right: 9.5rem;">S</div>
                    <!-- <a href="#" class="multitags">+2</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 4rem;">G</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 6rem;">P</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 8rem;">S</a> -->
                </div>
                <div class="col-lg-3"><h2>Group A</h2></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <img src="/../public/img/cross.svg" alt="">
                </div>
            </div>
            
        </div>


        <div class="row" style="width: 100%">
            <div class="col-lg-9" style="padding-right: 0;">
                <div class="container-fluid">
                    

                    <div class="row" style="margin-top: 20px;margin-left: -15px;">

                         <!-- breadcrumb -->
                        <div class="col-lg-10">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item"><a href="#">Physics Project</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Execution</li>
                                </ol>
                            </nav>
                        </div>

                    </div>

                     <!-- Activity -->
                    
                    <h1>Activity 2</h1>
                    <p id="innerpara">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur dolore eu fugiat nulla pariatur
                    </p>
                    <hr style="border: 2px solid #FFDB64;margin-bottom: 30px;">
                    
                    <div class="row">

                        <div class="col-lg-12 pad">
                            <div class="dropdown" style="width: 100%;">
                                <!-- <input class="lineinput100" type="text" name="name" placeholder="start typing contributors name for this particular task."> -->
                                <div class="lineinput100">                                
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                </div>
                                <div class="dropdown-content" style="width: 60%;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 3px 14px #00000029;border-radius: 6px;opacity: 1;">
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldname" style="margin-left: 0;">
                                            All
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                       

                        <div class="col-lg-4 pad">
                            <div class="executiontab">
                                File Upload
                            </div>
                        </div>
                        <div class="col-lg-4 pad">
                            <div class="executiontab">
                                Text Entry
                            </div>
                        </div>
                        <div class="col-lg-4 pad">
                            <div class="executiontab" style="color: #FD585C;">
                                Link Upload
                            </div>
                        </div>

                        <div class="col-lg-12">&nbsp;</div>
                        <div class="col-lg-12">&nbsp;</div>

                         <!-- Upload Link -->

                        <div class="col-lg-12 pad">
                            <div class="uploadsection">
                                <p>Copy and paste the link in below box</p>
                                <input class="input100" type="text" name="name" placeholder="http://www.sidmindwork.me/">
                            </div>
                        </div>

                        
                        <div class="col-lg-12 pad">
                            <button type="button" class="btn linkbutton" data-toggle="modal" data-target="#exampleModalCenter" style="width: 300px;">Request resubmission</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to request for resubmission of activity 2 ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn modalbutton1" data-dismiss="modal">No</button>
                                    <button type="button" class="btn modalbutton2">Yes</button>
                                </div>
                            </div>
                            </div>
                        </div>
    


                    </div>

                    
                    <section>&nbsp;</section>

                </div>
            </div>


            <!-- Details -->


            <div class="col-lg-3" style="padding-right: 0;">
                <div class="container-fluid pad mt-3">
                    <div class="row">
                        <div class="col-lg-12 pad">
                            <div class="detailbutton" style="color: #272727;">
                                Activity List ( 3 )
                            </div>
                        </div>
                        <div class="col-lg-12 pad">
                            <div class="upcoming1">

                                <div class="row">                                                      
    
                                    <div class="col-lg-12">

                                        <div class="row ro">

                                            <div class="col-lg-2 activitydiv1">
                                                <img src="/../public/img/done.svg" class="imagefix1" alt="">01
                                            </div>
                                            <div class="col-lg-10 pad">
                                               
                                                <div class="activitydiv2">
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-12">

                                        <div class="row ro">

                                            <div class="col-lg-2 activitydiv1">
                                                <img src="/../public/img/done.svg" class="imagefix1" style="background: #4BB543;" alt="">02
                                            </div>
                                            <div class="col-lg-10 pad">
                                               
                                                <div class="activitydiv2">
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-12">

                                        <div class="row ro">

                                            <div class="col-lg-2 activitydiv1">
                                                <img src="/../public/img/done.svg" class="imagefix1" alt="">03
                                            </div>
                                            <div class="col-lg-10 pad">
                                               
                                                <div class="activitydiv2">
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-12">

                                        <div class="row ro">

                                            <div class="col-lg-2 activitydiv1">
                                                04
                                            </div>
                                            <div class="col-lg-10 pad">
                                               
                                                <div class="activitydiv2">
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-4"></div>

                                    
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div style="margin: 40px;">
                                    <h3>Comment:</h3>
                                    <textarea placeholder="Type something(Optional)..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 pad">
                                <button type="button" class="btn activitybutton">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <footer><p>10dem © 2020</p></footer>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>
    </body>
</html>