<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        

        <link rel="stylesheet" href="/../public/css/index.css">
        <link rel="stylesheet" href="/../public/css/assignment.css">


        <title>10dem Education|Assignment</title>
        
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand" href="#">10dem Education</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-primary" id="login" href="#">S</a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: -20px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="row" style="width: 100%">
            <div class="col-lg-9" style="padding-right: 0;">
                <div class="container-fluid">
                    

                    <div class="row" style="margin-top: 20px;margin-left: -15px;">

                         <!-- breadcrumb -->
                        <div class="col-lg-10">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Physics Project</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-lg-1" style="margin-top: 50px;padding-top: 2px;">
                            <a href="#"><img src="/../public/img/download.svg" class="imagefix" alt=""></a>
                        </div>
                        <div class="col-lg-1" style="margin-top: 50px;">
                            <a href="#"><img src="/../public/img/print.svg" class="imagefix" alt=""></a>
                        </div>
                    </div>
                    
                    <h1>Fundamental of Design</h1>
                    <h3 id="redheading">Design</h3>
                    <p>Art | Color Theory | Asthetics</p>
                    <hr style="border: 2px solid #FFDB64;">
                    <h3>Overview</h3>
                    <p id="innerpara">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    </p>
                    <h3>Inquiry Question</h3>
                    <p id="innerpara">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum ipsum do ?</p>
                    <h3>Activity</h3>


                     <!-- Activities -->

                    <div class="row">

                        <div class="col-lg-1">
                            <div class="symbol">1</div>
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p id="innerpara">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur lore eu fugiat nulla pariatur</p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="indication">
                                        <a>Due By 22/08/2020</a>
                                    </div> 
                                </div>
                                <div class="col-lg-1">
                                    <div style="text-align: center;">
                                        <img src="/../public/img/attachment.svg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/doc.png" class="imagefix" alt="">Work plan.docx</a>
                                    </div> 
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/pdf.png" class="imagefix" alt="">Work plan.pdf</a>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/image.svg" class="imagefix" alt="">Work plan.png</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">&nbsp;</div>
                        <div class="col-lg-12">&nbsp;</div>


                        <div class="col-lg-1">
                            <div class="symbol">2</div>
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p id="innerpara">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur lore eu fugiat nulla pariatur</p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="indication">
                                        <a>Due By 22/08/2020</a>
                                    </div> 
                                </div>
                                <div class="col-lg-1">
                                    <div style="text-align: center;">
                                        <img src="/../public/img/attachment.svg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/doc.png" class="imagefix" alt="">Work plan.docx</a>
                                    </div> 
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/pdf.png" class="imagefix" alt="">Work plan.pdf</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">&nbsp;</div>
                        <div class="col-lg-12">&nbsp;</div>


                        <div class="col-lg-1">
                            <div class="symbol">3</div>
                        </div>
                        <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p id="innerpara">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur lore eu fugiat nulla pariatur</p>
                                </div>
                                <div class="col-lg-2">
                                    <div class="indication">
                                        <a>Due By 22/08/2020</a>
                                    </div> 
                                </div>
                                <div class="col-lg-1">
                                    <div style="text-align: center;">
                                        <img src="/../public/img/attachment.svg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/doc.png" class="imagefix" alt="">Work plan.docx</a>
                                    </div> 
                                </div>
                                <div class="col-lg-2">
                                    <div class="document">
                                        <a href="#"><img src="/../public/img/image.svg" class="imagefix" alt="">Work plan.png</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">&nbsp;</div>
                        <div class="col-lg-12">&nbsp;</div>

                    </div>

                    <div class="col-lg-3" style="padding-left: 0;margin-top: 60px;margin-bottom: 60px;">
                        <button type="button" class="btn">Execute</button>
                    </div>

                    <section>&nbsp;</section>

                </div>
            </div>

             <!-- Details -->
            <div class="col-lg-3" style="padding-right: 0;">
                <div class="container-fluid pad mt-3" style="height: 99%;">
                    <div class="row">

                        <!-- detail button is yellow and chatbutton is white-->

                        <div class="col-lg-6 pad">
                            <div class="chatbutton">
                                Details
                            </div>
                        </div>
                        <div class="col-lg-6 pad">
                            <div class="detailbutton">
                                Chat
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-12" style="text-align: center;margin-top: 30px;">
                                    <h3>Group 1 ( 5 members )</h3>
                                </div>

                                <div class="col-lg-12" style="margin-top:30px;padding-left: 25px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #70707029;border-radius: 14px;opacity: 1;">
                                    
                                    <h3>Add people</h3>
                                    <textarea placeholder="To" style="border: none;padding: 5px;width: 100%;height: 100px;"></textarea>
                                   
                                </div>

                                <!-- selecting members-->

                                <div class="col-lg-12" style="margin: 30px 0px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #70707029;border-radius: 14px;opacity: 1;">
            
                                    <div class="row">

                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldname" style="margin-left: 0;">
                                                    All
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldimage">
                                                    <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                                </div>
                                                <div class="memberfieldname" id="redheading">
                                                    Ms. Priya Parkar
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldimage">
                                                    <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                                </div>
                                                <div class="memberfieldname">
                                                    John Doe
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldimage">
                                                    <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                                </div>
                                                <div class="memberfieldname">
                                                    John Doe
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldimage">
                                                    <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                                </div>
                                                <div class="memberfieldname">
                                                    John Doe
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 columnmargin">
                                            <a href="#" class="memberfields">
                                                <div class="memberfieldimage">
                                                    <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                                </div>
                                                <div class="memberfieldname">
                                                    John Doe
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    
                                </div>


                            </div>

                        </div>
                        <div class="col-lg-12" style="padding-right: 0px;position: absolute;bottom: 30px;right: 0px;left: 0px;">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea type="text" name="chat" placeholder="start a new conversation. Type @ to mention members" id="chattextarea"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <div style="margin: 0;height: 35px;padding: 5px;background: #F4F5F9 0% 0% no-repeat padding-box;border-radius: 8px;opacity: 1;">
                                        <img src="/../public/img/pin.svg" class="imagefix">
                                        <img src="/../public/img/smiley.svg" class="imagefix">
                                        <img src="/../public/img/gallery.svg" class="imagefix">
                                        <img src="/../public/img/send.svg" style="float: right;">
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
            
        

        <footer><p>10dem © 2020</p></footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        
    </body>
</html>