<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        

        <link rel="stylesheet" href="/../public/css/index.css">
        <link rel="stylesheet" href="/../public/css/assignment.css">
        <link rel="stylesheet" href="/../public/css/reviewaccordian.css">


        <title>10dem Education|Assignment</title>
        
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand" href="#">10dem Education</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-primary" id="login" href="#">S</a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: -20px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div style="background: #ffffff;height: 100px;width: 100%;justify-content: center;padding: 20px;">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <div class="grpmembers">+2</div>
                    <div class="grpmembers" style="position: absolute;z-index: 2;right: 3.5rem;">R</div>
                    <div class="grpmembers" style="position: absolute;z-index: 3;right: 6.5rem;">A</div>
                    <div class="grpmembers" style="position: absolute;z-index: 4;right: 9.5rem;">S</div>
                    <!-- <a href="#" class="multitags">+2</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 4rem;">G</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 6rem;">P</a>
                    <a href="#" class="multitags" style="position: absolute;z-index: 2;right: 8rem;">S</a> -->
                </div>
                <div class="col-lg-3"><h2>Group A</h2></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <img src="/../public/img/cross.svg" alt="">
                </div>
            </div>
            
        </div>



        <div class="row" style="width: 100%">
            <div class="col-lg-8" style="padding-right: 0;">
                <div class="container-fluid">
                    

                    <div class="row" style="margin-top: 20px;margin-left: -15px;">

                         <!-- breadcrumb -->
                        <div class="col-lg-10">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item"><a href="#">Physics Project</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Execution</li>
                                </ol>
                            </nav>
                        </div>

                    </div>

                     <!-- Activity -->

                    <div class="row">
                        <div class="col-lg-3 pad">
                            <h1>Activity 2</h1>
                        </div>
                        <div class="col-lg-9 pad">
                            <div class="indication" style="margin: 3rem 0;">
                                <a>Due By 22/08/2020</a>
                            </div>
                        </div>
                    </div>
                    
                    <p id="innerpara">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur dolore eu fugiat nulla pariatur
                    </p>
                    <hr style="border: 2px solid #FFDB64;margin-bottom: 30px;">
                    
                    <div class="row">

                        <div class="col-lg-12 pad">
                            <div class="dropdown" style="width: 100%;">
                                <!-- <input class="lineinput100" type="text" name="name" placeholder="start typing contributors name for this particular task."> -->
                                <div class="lineinput100">                                
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                    <div class="memberselected">
                                        John Doe<span style="float: right;">x</span>
                                    </div>
                                </div>
                                <div class="dropdown-content" style="width: 60%;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 3px 14px #00000029;border-radius: 6px;opacity: 1;">
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldname" style="margin-left: 0;">
                                            All
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                    <a href="#" class="memberfields">
                                        <div class="memberfieldimage">
                                            <input type="checkbox" name="" id="checkbox" class="inputcheck">
                                        </div>
                                        <div class="memberfieldname">
                                            John Doe
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        

                        <div class="col-lg-4 pad">
                            <div class="executiontab" style="color: #FD585C;">
                                File Upload
                            </div>
                        </div>
                        <div class="col-lg-4 pad">
                            <div class="executiontab">
                                Text Entry
                            </div>
                        </div>
                        <div class="col-lg-4 pad">
                            <div class="executiontab">
                                Link Upload
                            </div>
                        </div>

                    </div>

                     <!-- Uploaded files -->

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card" style="background: #ffffff;align-items: center;">
                                <div style="padding: 25px;">
                                    <img src="/../public/img/add.svg" style="width: 120px;height: 120px;border-radius: 50%;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 0px 6px #0000001A;opacity: 1;" class="" alt="...">
                                    <p style="padding-left: 20px;margin-top: 10px;color: #272727;">Add File<p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card">
                                <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" style="float:left;"><img src="/../public/img/pdf.png" class="imagefix2" alt="">Research report1</a>
                                    <div class="dropdown" style="float:right;">
                                        <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                        <div class="dropdown-content">
                                            <a href="/../public/lib/ViewerJS/#../../../../../views/demodoc.pdf"><img src="/../public/img/preview.svg" class="imagefix">Preview</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter2"><img src="/../public/img/rename.svg" class="imagefix">Rename</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter3"><img src="/../public/img/delete.svg" class="imagefix">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card">
                                <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" style="float:left;"><img src="/../public/img/image.svg" class="imagefix2" alt="">Research report2</a>
                                    <div class="dropdown" style="float:right;">
                                        <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                        <div class="dropdown-content">
                                            <a href="#"><img src="/../public/img/preview.svg" class="imagefix">Preview</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter2"><img src="/../public/img/rename.svg" class="imagefix">Rename</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter3"><img src="/../public/img/delete.svg" class="imagefix">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card">
                                <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" style="float:left;"><img src="/../public/img/image.svg" class="imagefix2" alt="">Research report3</a>
                                    <div class="dropdown" style="float:right;">
                                        <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                        <div class="dropdown-content">
                                            <a href="#"><img src="/../public/img/preview.svg" class="imagefix">Preview</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter2"><img src="/../public/img/rename.svg" class="imagefix">Rename</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter3"><img src="/../public/img/delete.svg" class="imagefix">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card">
                                <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" style="float:left;"><img src="/../public/img/doc.png" class="imagefix2" alt="">Research report4</a>
                                    <div class="dropdown" style="float:right;">
                                        <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                        <div class="dropdown-content">
                                            <a href="#"><img src="/../public/img/preview.svg" class="imagefix">Preview</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter2"><img src="/../public/img/rename.svg" class="imagefix">Rename</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter3"><img src="/../public/img/delete.svg" class="imagefix">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card">
                                <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#" style="float:left;"><img src="/../public/img/pdf.png" class="imagefix2" alt="">Research report5</a>
                                    <div class="dropdown" style="float:right;">
                                        <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                        <div class="dropdown-content">
                                            <a href="#"><img src="/../public/img/preview.svg" class="imagefix">Preview</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter2"><img src="/../public/img/rename.svg" class="imagefix">Rename</a>
                                            <a data-toggle="modal" data-target="#exampleModalCenter3"><img src="/../public/img/delete.svg" class="imagefix">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Rename Modal -->
                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLongTitle">Rename</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body" style="text-align:justify">
                                    <p>Please enter the new name for the item</p>
                                    <form>
                                          <textarea class="form-control"></textarea>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn modalbutton1" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn modalbutton2">Ok</button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLongTitle">Delete the project?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p>You will not be able to recover <span style="color: #494949;">"Research report1"</span></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn modalbutton1" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn modalbutton2">Delete</button>
                                </div>
                            </div>
                            </div>
                        </div>

                        

                    </div>
                 
    
                    <div class="col-lg-12 pad">
                        <button type="button" class="btn linkbutton" data-toggle="modal" data-target="#exampleModalCenter">Save and Continue</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLongTitle">Confirm Submit Project?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <p>Once you submit the project you can't edit again</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn modalbutton1" data-dismiss="modal">No, Edit Again</button>
                                <button type="button" class="btn modalbutton2">Yes</button>
                            </div>
                        </div>
                        </div>
                    </div>


                    
                    <section>&nbsp;</section>

                </div>
            </div>

             <!-- Details -->
            <div class="col-lg-4" style="padding-right: 0;">
                <div class="container-fluid pad mt-3" style="height: 99%;">
                    <div class="row">

                        <!-- detail button is yellow and chatbutton is white-->

                        <div class="col-lg-6 pad">
                            <div class="chatbutton">
                                Activity List ( 3 )
                            </div>
                        </div>
                        <div class="col-lg-6 pad">
                            <div class="detailbutton">
                                Review&nbsp;&nbsp;<span style="width: 64px;height: 23px;font-size: 15px ;padding: 5px;position: relative;bottom: 4px;color: #ffffff;background: #008D2F80 0% 0% no-repeat padding-box;border-radius: 10px;">&nbsp;&nbsp;New&nbsp;&nbsp;</span>
                            </div>
                        </div>

                        <!-- Accordian Review Section -->
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: 60px;">
                                
                                    
                                    <div class="accordion" id="accordionExample">

                                        <div class="card z-depth-0 bordered">
                                            <div class="card-header" id="headingOne">

                                                <div class="row">
                                                    
                                                    <div class="col-lg-10">
                                                        <h4 class="accordianhead">
                                                            Reflection Question<span class="dots">2</span>
                                                        </h4>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="accordianbutton" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fas fa-angle-down"></i>
                                                        </button>
                                                    </div>

                                                </div>      
                                                  
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body scrolling">
                                                    
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="initials">
                                                                <p>JD</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="details">
                                                                <h4>John Doe</h4>
                                                                <p>How was your experience while working?</p>
                                                                <a href="#">Reply</a>
                                                                <div class="submitbox">
                                                                    <textarea type="text" name="chat">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</textarea>
                                                                    <a href="#">Cancel</a>
                                                                    <a href="#" style="color: #FD585C !important;">&nbsp;&nbsp;Submit&nbsp;&nbsp;</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr/>

                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="initials">
                                                                <p>JD</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="details">
                                                                <h4>John Doe</h4>
                                                                <p>How was your experience while working?</p>
                                                                <i class="fas fa-caret-down"></i>
                                                                <a href="#">Replied</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <!-- reply section -->
                                                            <div class="row replies">
                                                                <div class="col-lg-2 pad">
                                                                    
                                                                    <div class="initials">
                                                                        <p>JD</p>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="col-lg-10 pad">

                                                                    <div class="details">
                                                                        <h4>Sid Mahajan</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et d</p>
                                                                        <img src="/../public/img/delete3.svg">
                                                                        <img src="/../public/img/edit.svg">
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!-- reply section ends -->
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card z-depth-0 bordered">
                                            <div class="card-header" id="headingTwo">
                                                <div class="row">
                                                    
                                                    <div class="col-lg-10">
                                                        <h4 class="accordianhead">
                                                            Activity 1<span class="dots">2</span>
                                                        </h4>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="accordianbutton" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                            <i class="fas fa-angle-down"></i>
                                                        </button>
                                                    </div>

                                                </div> 
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body scrolling">

                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="initials">
                                                                <p>JD</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="details">
                                                                <h4>John Doe</h4>
                                                                <p class="activityReviews">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et duej</p>
                                                                <p class="activityReviews">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et duej</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>   
                                            </div>
                                        </div>

                                        <div class="card z-depth-0 bordered">
                                            <div class="card-header" id="headingThree">
                                                <div class="row">
                                                    
                                                    <div class="col-lg-10">
                                                        <h4 class="accordianhead">
                                                            Activity 2<span class="dots">2</span>
                                                        </h4>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="accordianbutton" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                            <i class="fas fa-angle-down"></i>
                                                        </button>
                                                    </div>

                                                </div> 
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body scrolling">

                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="initials">
                                                                <p>JD</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="details">
                                                                <h4>John Doe</h4>
                                                                <p class="activityReviews">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et duej</p>
                                                                <p class="activityReviews">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et duej</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
        
                                    <!-- Accordian ends -->
                            
                                </div>
                            </div>
                        </div>

                        
                       
                        
                    </div>
                </div>
            </div>
        </div>
            
        

        <footer><p>10dem © 2020</p></footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>
        
    </body>
</html>