<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/adminDashboard.css">
        <link rel="stylesheet" href="/public/css/droparea.css">


        <title>10dem Education|Dashboard</title>
        
    </head>

    <body>
        
        <div class="sidebar">
            <div style="height: 100px;"></div>
            <div class="sidebarDiv">
                <img src="/public/img/language.svg" class="sidebarImg">
            </div>
            <div class="sidebarDiv">
                <img src="/public/img/language.svg" class="sidebarImg">
            </div>
            <div class="sidebarDiv">
                <img src="/public/img/language.svg" class="sidebarImg">
            </div>
            <div class="sidebarDiv">
                <img src="/public/img/language.svg" class="sidebarImg">
            </div>
        </div>

        <div style="background: #FCFCFC;position: absolute;left: 70px;right: 0px;">

            <header>
                
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <img src="/public/img/logo.jpeg" style="width: 50px;height: 50px;">
                        <p style="padding: 0 8px;">LIFECOACHING<br/>Betterlife</p>
                    </div>
                    
                    <div class="d-flex justify-content-left">
                        <img src="/public/img/person_circle.svg" style="width: 40px;height: 40px;border-radius: 50%;">
                        <p style="padding: 8px;font-size: 18px;">John Doe</p>
                    </div>
                </div>
                
            </header>

            <div class="container" style="max-width: 80%;margin-top: 50px;padding: 40px 80px;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 0px 6px #00000024;">

                <h5 style="padding: 5px 15px;color: #27272780;text-transform: uppercase;">New project</h5>
                <h4 style="font-family: ProductB;font-size: 30px;padding: 5px 15px;">Create a new project</h4>
    
                <form action="/superadmin/create-activity" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12">
    
                            <div class="row" style="width: 100%;height: 60px;border-bottom: 2px solid #00000029;margin: 2rem 0;margin-bottom: 1rem;">
                                <div class="col-xl-4 col-lg-6 col-md-4">
                                    <p class="navtabs" style="font-size: 24px;padding-bottom: 24px;">Inquiry Introducation</p>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-4">
                                    <p class="navtabs" style="color: #FD585C;border-bottom: 4px solid #FD585C;font-size: 24px;padding-bottom: 24px;">Create Activity</p>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-lg-12">
                            <div class="row adminform" style="margin: 30px 0px;padding: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 2px solid #EFEFEF;">
                                
                                <div class="col-lg-12">
                                    <h4>Activity 1</h4>                             
                                </div>
                               
                                <div class="col-lg-12">
                                    <input class="input100" type="text" name="description" placeholder="Activity title">
                                </div>
    
                                <div class="col-lg-12">
                                    <h4>Description</h4>                             
                                </div>
    
                                <!-- Text Area -->
    
                                <div class="col-lg-12">
                                    <textarea class="textinput100" type="text" name="Details" placeholder="Activity Details.."></textarea>
                                </div>
    
                                <div class="col-lg-2">
                                    <div id="drop-area">
                                        <div class="my-form" style="height: 234px;">
                                            <input type="file" name="files" id="fileElem" multiple accept=".doc,.docx,.xls,.xlsx,.csv,.ppt,.pptx,.pdf,.png,.jpeg,.jpg" onchange="handleFiles(this.files)">
                                            <label class="button" for="fileElem"><img src="/public/img/redplus.svg" style="width: 45px;height: 45px;position: relative;bottom: 14px;"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="d-flex justify-content-between inquiry" style="width: 100%;height: 35px;margin: 0 0 10px 0;padding: 6px 10px;border-left: 4px solid #325981;">
                                        <p>Allowed type: doc. docx. pdf. txt. png. jpg</p>
                                        <p>Up to: 2 MB</p>
                                        <p>Maximum: 4 files</p>
                                    </div>
                                    <div id="gallery" style="margin-top: 0;" class="row"></div>
                                </div>
                                
                               
                            </div>
                        </div>
    
                        <div class="col-lg-1">
                            <button class="btn save" style="width: 70px;height: 70px;border-radius: 50%;text-align: center;"><img src="/public/img/pluswhite.svg" style="width: 30px;height: 30px;position: relative;bottom: 2px;left: 1px;"></button>
                        </div>
    
                        <div class="col-lg-2">
                            <p style="padding: 15px;font-size: 24px;color: #2727274D;">Add Activity</p>
                        </div>
    
                        <div class="col-lg-9">
                            <button type="button" class="btn cancel" style="float: right;position: relative;top: 10px;width: 170px;height: 50px;padding: 10px;font-size: 14px;color: #FD585C;"><img src="/public/img/delete4.svg">Delete Activity</button>
                        </div>
    
                        <div class="col-lg-12">
                            <button type="button" class="btn cancel" style="width: 200px;color: #FD585C;">Go Back</button>
                            <button class="btn save" style="width: 200px;float: right;">Preview</button>
                        </div>
    
                    </div>
                </form>

            </div>

            <footer><p>10dem © 2020</p></footer>

        </div>
        <!-- end of container -->

        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>
        
        <script>
            $("a").on("click", function() {
                $("a").removeClass("active");
                $(this).addClass("active");
            });
        </script>
        <script>
            let dropArea = document.getElementById('drop-area')

            ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false)
            })

            function preventDefaults (e) {
                e.preventDefault()
                e.stopPropagation()
            }


            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            function highlight(e) {
                dropArea.classList.add('highlight')
            }

            function unhighlight(e) {
                dropArea.classList.remove('highlight')
            }

            dropArea.addEventListener('drop', handleDrop, false)

            function handleDrop(e) {
                let dt = e.dataTransfer
                let files = dt.files

                handleFiles(files)
            }

            function handleFiles(files) {
                files = [...files]
                // files.forEach(uploadFile)
                files.forEach(previewFile)
            }

            // function uploadFile(file) {
            //     let url = 'YOUR URL HERE'
            //     let formData = new FormData()
            //     formData.append('file', file)
            //     fetch(url, {
            //     method: 'POST',
            //     body: formData
            //     })
            //     .then(() => { /* Done. Inform the user */ })
            //     .catch(() => { /* Error. Inform the user */ })
            // }

            function previewFile(file) {
                // let reader = new FileReader()
                // reader.readAsDataURL(file)
                // reader.onloadend = function() {
                // let img = document.createElement('img')
                // img.src = reader.result
                // document.getElementById('gallery').appendChild(img)
                var src;
                switch (file.type) {
                    case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
                        src = '/public/img/doc.png'
                        break;
                    case 'application/vnd.openxmlformats-officedocument.presentationml.presentation':
                        src = '/public/img/doc.png'
                        break;
                    case 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
                        src = '/public/img/doc.png'
                        break;
                    case 'application/msword':
                        src = '/public/img/doc.png'
                        break;
                    case 'application/vnd.ms-excel':
                        src = '/public/img/doc.png'
                        break; 
                    case 'application/vnd.ms-powerpoint':
                        src = '/public/img/doc.png'
                        break;
                    case 'text/csv':
                        src = '/public/img/doc.png'
                        break;
                    case 'application/pdf':
                        src = '/public/img/pdf.png'
                        break;
                    case 'image/jpg':
                        src = '/public/img/image.svg'
                        break;
                    case 'image/png':
                        src = '/public/img/image.svg'
                        break;
                    case 'image/jpeg':
                        src = '/public/img/image.svg'
                        break;  
                }


                let files=document.createElement('div')
                files.classList.add('col-lg-6')
                files.innerHTML=`
                    <div style="margin: 10px 15px;">
                        <div class="row" style="padding: 10px;background: #FCFCFC 0% 0% no-repeat padding-box;border: 2px solid #70707029">
                            <div class="col-lg-11 p-0 d-flex justify-content-left">
                                <img src="${src}" style="height: 56px;width: 56px;margin-right: 15px;">
                                <div>
                                    <p>${file.name}</p>
                                    <p class="filesize">${((file.size)/1000).toFixed(0)}&nbsp;KB</p>
                                </div> 
                            </div>
                            
                            <div class="col-lg-1 p-0">
                                <img src="img/cross.svg" style="height: 24px;width: 24px;margin: 0;">
                            </div>
                        </div>
                    </div>
                    `
                document.getElementById('gallery').appendChild(files)

            }

        </script>
    </body>
</html>