@font-face {
    font-family: GilE;
    src: url(../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
  }
  @font-face {
    font-family: GilL;
    src: url(../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
  }
  @font-face {
    font-family: ProductR;
    src: url(../fonts/product-sans/Product\ Sans\ Regular.ttf);
  }
  @font-face {
    font-family: ProductB;
    src: url(../fonts/product-sans/Product\ Sans\ Bold.ttf);
}

/* Toast */
#notificationpane {
    max-width: none;
    width: 550px !important;
    position: absolute;
    top: 60px;
    right: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    z-index: 100;
}

#notificationpane .toast-header {
    height: 75px;
    background: #EFEFEF99 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 0px #00000029;
    border-radius: 4px 4px 0px 0px;
}

#notificationpane .toast-header strong {
    color: #272727 !important ;
    font-size: 24px;
    font-family: ProductR !important;
    font-weight: 500;
}

#notificationpane .toast-body {
    padding: 0;
    padding-bottom: 25px;
}

#notificationpane .toast-body .upcoming1 .status {
    height: 25px;
    width: 70px;
    margin: 20px 20px;
    padding: 2px;
    padding-left: 5px;
    background: #F4F5F9 0% 0% no-repeat padding-box;
    border-left: 3px solid #455997;
    font-size: 14px;
    font-family: ProductR;
    color: #272727;
}

#notificationpane .toast-body .upcoming1 {

}

#notificationpane .toast-body .upcoming1 .row {
    background: none;
    padding: 0 15px;
}

#notificationpane .toast-body .row {
    margin-top: 20px;
}

#notificationpane .toast-body .toastText {
    text-align: justify;
    padding: 5px 10px;
    font-size: 16px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;

}

#notificationpane .toast-body .toastSymbol {
    float: left;
    background: transparent;
}

#notificationpane .toast-body .toastSymbol .collaborate {
    padding: 15px;
    background: #CCF8FE 0% 0% no-repeat padding-box;
}

#notificationpane .toast-body .toastSymbol .submission {
    padding: 15px;
    background: #E2FBD7 0% 0% no-repeat padding-box;
}

#notificationpane .toast-body .toastSymbol img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#notificationpane .toast-body .toastbuttons {
    width: 110px;
    height: 35px;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #FD585C;
    border-radius: 6px;
}

#notificationpane .toast-body small {
    margin: 0 10px;
    color: #2727274D;
    font-size: 14px;
    font-family: ProductR;
}
