@font-face {
    font-family: GilE;
    src: url(../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: GilL;
    src: url(../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}
@font-face {
    font-family: ProductR;
    src: url(../fonts/product-sans/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: ProductB;
    src: url(../fonts/product-sans/Product\ Sans\ Bold.ttf);
}

section {
    margin: 0;
}

h2{
    padding-left: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 50px;
    font-family: GilE;
    letter-spacing: 0px;
    color: #03293D;
    opacity: 1;
}

h3 {
    margin: 15px;
    margin-bottom: 20px;
    font-size: 34px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-outline-danger {
    float: right;
    margin-top: 10px;
    width: 158px;
    height: 42px;
    font-size: 18px;
    font-family: ProductR;
    color: #272727;
    background: #ffffff;
    border: 2px solid #FD585C;
    border-radius: 6px;
    opacity: 1;
}

.upcoming {
    height: 620px;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 20px;
    
}

.upcoming1 {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;   
}

  /* width */
  .upcoming1::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .upcoming1::-webkit-scrollbar-track {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
  }
   
  /* Handle */
  .upcoming1::-webkit-scrollbar-thumb {
    background: #FD585CCC 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
  }
  
  /* Handle on hover */
  .upcoming1::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0); 
  }

.btn {
    width: 15%;
    height: 40px;
    padding: 5px;
    background: #455997D6 0% 0% no-repeat padding-box;
    border-radius: 21px;

    font-size: 20px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.sidetag1 {
    float: right;

    background: #FD585C4D 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;

}

.sidetag2 {
    float: right;

    background: #FFDB648C 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;

}

.sidetag3 {
    float: right;

    background: #7CF1848C 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;

}

.symbol1 {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #455997;
    opacity: 1;
    border-radius: 50%;
}

.pa1 {
    margin: 10px 0px;
    line-height: 2.7em;
    font-size: 26px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
}

.pa2 {
    font-size: 20px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
}

.symbol2 {
    width: 30px;
    height: 30px;
}

.interval {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #cecece;
}

#my-calendar {
    height: 40rem;
}

.myprojects {
    margin: 20px 0;
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 6px #00000029;
    border-radius: 20px;
    opacity: 1;

    border-left: 12px solid #455997;
}

.myprojects .btn {
    width: 30%;
    height: 40px;
}

.myprojects .sidetag1 {
    height: 45px;
    width: 45px;
    margin: 0;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFDB648C;
    opacity: 1;
    border-radius: 50%;
}

.myprojects .multisidetag1 {
    float: right;
    height: 45px;
    width: 45px;
    margin: 0;
    padding: 10px 15px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #7070703D;
    opacity: 1;
}

#paraspace {
    margin: 0;
    padding-left: 40px;
}

.myprojects hr {
    margin: 10px;
}

.myprojects .warningimg {
    width: 25px;
    height: 25px;
    padding-bottom: 7px;
}

.myprojects .warning {
    padding: 5px;
    font-size: 15px;
    border: 2px solid #70707042;
    border-radius: 21px;
    opacity: 1;
}


/* ---------------------------------------------------
    Button dropdown
----------------------------------------------------- */

#dropdownright{
    float: right;
    margin-right: 20px;
}

#dropdownMenuButton{
    width: 176px;
    height: 64px;
    text-align: center;
    padding: 0;
    background: #FD585C 0% 0% no-repeat padding-box;
    border: 1px solid #FD585C;
    border-radius: 6px;
    opacity: 1;
}

#dropdownMenuButton:hover {
    border: 1px solid #FFDB64;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 22px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
    
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(238, 238, 238);
    border-left: 5px solid #FD585C;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
  
      
    
    
/* ---------------------------------------------------
    Tabs
----------------------------------------------------- */
#tabs{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


#tabs .nav-tabs {
    font-size: 35px;
    color:  #272727;
}

#tabs .nav-tabs img {
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
}

.nav-fill .nav-item {
    text-align: center;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding-left: 0;
    color: #272727;
    background-color: transparent;
    border-color: transparent transparent #FD585C;
    border-bottom: 4px solid #FD585C !important;
}


/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

footer {
    height: 75px;
    overflow: hidden;
    padding: 15px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    background: #F4F5F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
footer p {
    text-align: center;
    font-size: 26px;
    font-family: ProductR;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
}

/* ---------------------------------------------------
    Help Button
----------------------------------------------------- */
  
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    z-index: 99;
    background-color:#FD585C;
    border-radius:50px;
    text-align:center;
    
}

.my-float{
  margin-top:15px;
}

.float:hover {
  background: #FFDB64;
  color:#FFF;
}

