<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="lib/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="lib/owlcarousel/assets/owl.theme.default.min.css">

        <link rel="stylesheet" href="css/index.css">

        <title>10dem Education|Home</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand" href="#">10dem Education</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ongoing Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Membership
                        </a>
                        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div> -->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <h5 class="innerhead">Free</h5>
                                    <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                    <a href="#" class="innertag">View all</a>
                                </li>
                                <li class="nav-item">
                                    <h5 class="innerhead">Pro</h5>
                                    <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                    <a href="#" class="innertag">View all</a>
                                </li>
                                <li class="nav-item">
                                    <h5 class="innerhead">Organization</h5>
                                    <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                    <a href="#" class="innertag">View all</a>
                                </li>
                                <li class="nav-item">
                                    <h5 class="innerhead">Education</h5>
                                    <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                    <a href="#" class="innertag">View all</a>
                                </li>
                                <li class="nav-item">
                                    <h5 class="innerhead">Non Profits</h5>
                                    <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                    <a href="#" class="innertag">View all</a>
                                </li>
                            </ul>
                        </div>    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-crown" style="color: rgb(233, 233, 3);padding-right: 10px;"></i>Try 10dem pro</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contribute Resource</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary"  style="border-radius: 5px;" href="#"><i class="fas fa-plus" style="color: rgb(255, 255, 255);"></i>  Create Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" id="login" href="#">S</a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: -30px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="img/logo.jpeg" alt="">
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#"><box-icon class="bx-fw" name="laptop"></box-icon>  My Projects</a>
                    </li>
                    <li>
                        <a href="#"><box-icon class="bx-fw" name='bookmark'></box-icon>  Bookmarks</a>
                    </li>
                    <li>
                        <a href="#"><box-icon class="bx-fw" name='folder' ></box-icon>  My Folders</a>
                    </li>
                    <li>
                        <a href="#"><box-icon class="bx-fw" name='user-check' ></box-icon>  Manage Students</a>
                    </li>
                </ul>
            </nav>
            

            <!-- Page Content  -->
            <div id="content" class="container">
                
                <div style="text-align: center;">
                    <h1>Hello, Sam</h1>
                </div>

                <button type="button" id="sidebarCollapse" class="btn bg-light sidebutton">
                    <i id="collapse-icon" class="fas fa-angle-left" style="font-size: 60px;"></i>
                </button>
                
                <a href="#" class="float">
                    <img src="img/help.svg" class="my-float" style="width: 30px;height: 30px;" alt="">
                </a>
                
                <!-- Search Section -->
                <section class="search-sec" style="margin-bottom: 100px;">
                    <div class="container" style="justify-content: center;">
                        <form action="#" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 style="text-align: center;margin-top: 0px;">Search Anything</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                            <input type="text" class="form-control search-slt" placeholder="Eg.Botanical Garden">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                <option>Grade Level</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>


                <h2>Trending Projects</h2>


                <!-- Testimonials Section -->
                <section id="testimonials" class="testimonials">
                    <div class="main-content" data-aos="fade-up">

            
                        <div class="owl-carousel testimonials-carousel owl-theme">
            
                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 1</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 5px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 2</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                                
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 3</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 4</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 5</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 6</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>
                    
                        </div>
                        <div class="owl-theme">
                            <div class="owl-controls">
                                <div class="custom-nav owl-nav"></div>
                            </div>
                        </div>
            
                    </div>
                </section>       


                <h2>Recommended For You</h2>
                

                <!-- Testimonials Section -->
                <section id="testimonials" class="testimonials">
                    <div class="main-content-2" data-aos="fade-up">

            
                        <div class="owl-carousel testimonials-carousel">
            
                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 1</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 5px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 2</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>    
                                
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 3</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 4</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 5</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/download.jpeg" class="testimonial-img" alt="">
                                <h3>Project 6</h3>
                                <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                <p id="innerp">
                                    <a href="#" style="float:left;color: #fd585c;font-size: medium;padding-left: 2px;">View more</a>
                                    <a href="#" style="float:right;padding-right: 10px;"><i class="far fa-bookmark"></i></a>&nbsp;
                                </p>
                            </div>
                    
                        </div>
                        <div class="owl-theme">
                            <div class="owl-controls">
                                <div class="custom-nav owl-nav"></div>
                            </div>
                        </div>
            
                    </div>
                </section>
                
            </div> 
        </div>

        <footer>
            <p>10dem © 2020</p>
        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>

        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>

        <script src="js/index.js"></script>
       
    </body>
</html>
